<h1>Employees</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table' *ngIf="employees">
  <thead>
    <tr>
      <th><a href="#" ng-click="orderByField='employeeId'; reverseSort = !reverseSort">
  ID <span ng-show="orderByField == 'employeeId'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
</a></th>
      <th>Имя</th>
      <th>Тип документа</th>
      <th>Номер документа</th>
      <th>Действителен до</th>
      <th>Пол</th>
      <th>Дата рождения</th>
      <th>Место рождения</th>
      <th>ID заявки</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of pageOfItems">
      <td>{{ employee.employeeId }}</td>
      <td>{{ employee.employeeBase }}</td>
      <td>{{ employee.docType }}</td>
      <td>{{ employee.docNumber }}</td>
      <td>{{ employee.validThrough | date:'MM/dd/yyyy' }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.birthDate | date:'MM/dd/yyyy' }}</td>
      <td>{{ employee.birthPlace }}</td>
      <td>{{ employee.requestId }}</td>
      <td><button (click)="deleteEmployee(employee.employeeId)">Del</button> <button (click)="goEdit(employee.employeeId)">Edit</button></td>
    </tr>
    <tr>
      <td></td>
      <td><select [(ngModel)]="newEmployee.employeeBaseId" required><option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><input [(ngModel)]="newEmployee.docType" required></td>
      <td><input [(ngModel)]="newEmployee.docNumber" required></td>
      <td><input type="date" [ngModel]="newEmployee.validThrough | date:'yyyy-MM-dd'" (ngModelChange)="newEmployee.validThrough = $event" name="validThrough" required></td>
      <td><input [(ngModel)]="newEmployee.gender" required></td>
      <td><input type="date" [ngModel]="newEmployee.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="newEmployee.birthDate = $event" name="birthDate" required></td>
      <td><input [(ngModel)]="newEmployee.birthPlace" required></td>
      <td><select [(ngModel)]="newEmployee.requestId" required><option *ngFor="let rqst of requests" [(value)]="rqst.requestId">{{rqst.requestId}}</option></select></td>
      <td>
        <button class="add" *ngIf="employees" type="submit" (click)='addEmployee(newEmployee)'>Add <i class='fas fa-plus'></i></button>
        <button class="edit" *ngIf="employees" type="submit" (click)='editEmployee(newEmployee.employeeId, newEmployee)' hidden>Submit</button>
      </td>
    </tr>
  </tbody>
  <jw-pagination [items]="requestViewModels" [pageSize]="5" (changePage)="onChangePage($event)"></jw-pagination>
</table>
