<h1>Ticket requests</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!ticketRequests"><em>Loading...</em></p>

<table class='table' *ngIf="employeesBase">
  <thead>
    <tr>
      <th>EmployeeBaseId</th>
      <th>Code</th>
      <th>Name</th>
      <th>Projects</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employeeBase of employeesBase">
      <td>{{ employeeBase.employeeBaseId }}</td>
      <td>{{ employeeBase.code }}</td>
      <td>{{ employeeBase.name }}</td>
      <td>{{ employeeBase.employeeProjectAssigns }}</td>
      <td><button (click)="deleteEmployeeBase(employeeBase.employeeBaseId)">Del</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input [(ngModel)]=" employeeBase.code "></td>
      <td><input [(ngModel)]=" employeeBase.name "></td>
      <td><input [(ngModel)]=" employeeBase.employeeProjectAssigns "></td>
    </tr>
  </tbody>
</table>
<button *ngIf="employeesBase" (click)='addEmployeeBase(employeeBase)'>Add <i class='fas fa-plus'></i></button>

<table class='table' *ngIf="ticketRequests">
  <thead>
    <tr>
      <th>ID запроса</th>
      <th>Номер заявки</th>
      <th>Дата</th>
      <th>Заявитель</th>
      <th>Номер командировки</th>
      <th>Бюджет</th>
      <th>Стоимость</th>
      <th>Менеджер проекта</th>
      <th>Статус заявки</th>
      <th>Офис менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticketRequest of ticketRequests">
      <td>{{ ticketRequest.requestId }}</td>
      <td>{{ ticketRequest.requestNumber }}</td>
      <td>{{ ticketRequest.date }}</td>
      <td>{{ ticketRequest.declarer }}</td>
      <td>{{ ticketRequest.businessTripNumber }}</td>
      <td>{{ ticketRequest.budget }}</td>
      <td>{{ ticketRequest.cost }}</td>
      <td>{{ ticketRequest.manager }}</td>
      <td>{{ ticketRequest.status }}</td>
      <td>{{ ticketRequest.officeManager }}</td>
      <td><button (click)="deleteTicketRequest(ticketRequest.requestId)">Del</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input [(ngModel)]="ticketRequest.requestNumber"></td>
      <td><input type="date" [(ngModel)]="ticketRequest.date"></td>
      <td><select [(ngModel)]="ticketRequest.declarer"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><input [(ngModel)]="ticketRequest.businessTripNumber"></td>
      <td><input [(ngModel)]="ticketRequest.budget"></td>
      <td><input [(ngModel)]="ticketRequest.cost"></td>
      <td><select [(ngModel)]="ticketRequest.manager"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><input disabled [(ngModel)]="ticketRequest.status"></td>
      <td><select [(ngModel)]="ticketRequest.officeManager"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
    </tr>
  </tbody>
</table>
<button *ngIf="ticketRequests" (click)='addTicketRequest(ticketRequest)'>Add <i class='fas fa-plus'></i></button>
<button (click)='check()'>Check <i class='fas fa-plus'></i></button>
