<h1>Tickets</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!tickets"><em>Loading...</em></p>

<table class='table' *ngIf="tickets">
  <thead>
    <tr>
      <th>ID Билета</th>
      <th>Стоимость</th>
      <th>Сотрудник</th>
      <th>Тип маршрута</th>
      <th>Дата отправления</th>
      <th>Дата прибытия</th>
      <th>ID заявки</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of pageOfItems">
      <td>{{ ticket.ticketId }}</td>
      <td>{{ ticket.cost }}</td>
      <td>{{ ticket.employee }}</td>
      <td>{{ ticket.routeType }}</td>
      <td>{{ ticket.departureTime | date:'MM/dd/yyyy HH:mm' }}</td>
      <td>{{ ticket.arrivalTime | date:'MM/dd/yyyy HH:mm' }}</td>
      <td>{{ ticket.requestId }}</td>
      <td><button (click)="deleteTicket(ticket.ticketId)">Del</button> <button (click)="goEdit(ticket.ticketId)">Edit</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input [(ngModel)]="newTicket.cost" required></td>
      <td><select [(ngModel)]="newTicket.employeeId" required><option *ngFor="let emp of employeeBaseViewModels" [value]="emp.employeeId">{{emp.name}}</option></select></td>
      <td><input [(ngModel)]="newTicket.routeType" required></td>
      <td><input type="datetime-local" [(ngModel)]="newTicket.departureTime" required></td>
      <td><input type="datetime-local" [(ngModel)]="newTicket.arrivalTime" required></td>
      <td><select [(ngModel)]="newTicket.requestId" required><option *ngFor="let rqst of requests" [value]="rqst.requestId">{{rqst.requestId}}</option></select></td>
      <td>
        <button class="add" *ngIf="tickets" type="submit" (click)='addTicket(newTicket)'>Add <i class='fas fa-plus'></i></button>
        <button class="edit" *ngIf="tickets" type="submit" (click)='editTicket(newTicket.ticketId, newTicket)' hidden>Submit</button>
      </td>
    </tr>
  </tbody>
</table>

<!--
<dx-data-grid id="gridContainer"
              [dataSource]="ticketViewModels"
              [columns]="['ticketId', 'cost', 'employee', 'routeType', 'departureTime', 'arrivalTime', 'requestId']"
              [showBorders]="true">
</dx-data-grid>
    -->
