<h1>Ticket requests</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class='table' *ngIf="requests">
  <thead>
    <tr>
      <th>ID заявки</th>
      <th>Дата заявки</th>
      <th>Заявитель</th>
      <th>Проект</th>
      <th>Подпроект</th>
      <th>Номер заявки на командировку</th>
      <th>Бюджет</th>
      <th>Стоимость</th>
      <th>Менеджер проекта</th>
      <th>Статус заявки</th>
      <th>Офис менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of pageOfItems">
      <td>{{ request.requestId }}</td>
      <td>{{ request.date | date:'MM/dd/yyyy' }}</td>
      <td>{{ request.declarer }}</td>
      <td>{{ request.project }}</td>
      <td>{{ request.subproject }}</td>
      <td>{{ request.requestNumber }}</td>
      <td>{{ request.budget }}</td>
      <td>{{ request.cost }}</td>
      <td>{{ request.manager }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.officeManager }}</td>
      <td><button (click)="deleteRequest(request.requestId)">Del</button> <button (click)="goEdit(request.requestId)">Edit</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="date" [ngModel]="newRequest.date | date:'yyyy-MM-dd'" (ngModelChange)="newRequest.date = $event" name="startDate" required></td>
      <td><select [(ngModel)]="newRequest.declarerId" required> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.projectId" (ngModelChange)="onChange($event)" required> <option *ngFor="let prj of projects" [value]="prj.projectId">{{prj.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.subprojectId" required> <option *ngFor="let sprj of localSubprojects" [value]="sprj.subprojectId">{{sprj.name}}</option></select></td>
      <td><input type="text" [(ngModel)]="newRequest.requestNumber" required></td>
      <td><input type="number" [(ngModel)]="newRequest.budget" required></td>
      <td><input type="number" [(ngModel)]="newRequest.cost" required></td>
      <td><select [(ngModel)]="newRequest.managerId" required> <option *ngFor="let emp of employeesBase" [(value)]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><input disabled [(ngModel)]="newRequest.status"></td>
      <td><select [(ngModel)]="newRequest.officeManagerId" required> <option *ngFor="let emp of employeesBase" [(value)]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td>
        <button class="add" *ngIf="requests" type="submit" (click)='addRequest(newRequest)'>Add <i class='fas fa-plus'></i></button>
        <button class="edit" *ngIf="requests" type="submit" (click)='editRequest(newRequest.requestId, newRequest)' hidden>Submit</button>
      </td>
    </tr>
  </tbody>
</table>
<jw-pagination [items]="requestViewModels" [pageSize]="5" (changePage)="onChangePage($event)"></jw-pagination>
<button (click)='check()'>Check <i class='fas fa-plus'></i></button>
