<h1>Hello, world!</h1>
<h1>Ticket requests</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class='table' *ngIf="requests">
  <thead>
    <tr>
      <th>ID заявки</th>
      <th>Дата заявки</th>
      <th>Заявитель</th>
      <th>Проект</th>
      <th>Подпроект</th>
      <th>Номер заявки на командировку</th>
      <th>Бюджет</th>
      <th>Стоимость</th>
      <th>Менеджер проекта</th>
      <th>Статус заявки</th>
      <th>Офис менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{ request.requestId }}</td>
      <td>{{ request.date }}</td>
      <td>{{ employeesBase[request.declarerId-1].name }}</td>
      <td>{{ projects[request.projectId-1].name }}</td>
      <td>{{ subprojects[request.subprojectId-1].name }}</td>
      <td>{{ request.requestNumber }}</td>
      <td>{{ request.budget }}</td>
      <td>{{ request.cost }}</td>
      <td>{{ employeesBase[request.managerId-1].name }}</td>
      <td>{{ request.status }}</td>
      <td>{{ employeesBase[request.officeManagerId-1].name }}</td>
      <td><button (click)="deleteRequest(request.requestId)">Del</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="date" [(ngModel)]="newRequest.date"></td>
      <td><select [(ngModel)]="newRequest.declarerId"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.projectId"> <option *ngFor="let prj of projects" [value]="prj.projectId">{{prj.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.subprojectId"> <option *ngFor="let sprj of subprojects" [value]="sprj.subprojectId">{{sprj.name}}</option></select></td>
      <td><input [(ngModel)]="newRequest.requestNumber"></td>
      <td><input [(ngModel)]="newRequest.budget"></td>
      <td><input [(ngModel)]="newRequest.cost"></td>
      <td><select [(ngModel)]="newRequest.managerId"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><input disabled [(ngModel)]="newRequest.status"></td>
      <td><select [(ngModel)]="newRequest.officeManagerId"> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td>
        <button *ngIf="requests" (click)='addRequest(newRequest)'>Add <i class='fas fa-plus'></i></button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)='check()'>Check <i class='fas fa-plus'></i></button>
