<h1>Ticket requests</h1>

<p>Fetching requests from the DB.</p>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class='table' *ngIf="requests">
  <thead>
    <tr>
      <th>ID заявки</th>
      <th>Дата заявки</th>
      <th>Заявитель</th>
      <th>Проект</th>
      <th>Подпроект</th>
      <th>Номер заявки на командировку</th>
      <th>Бюджет</th>
      <th>Стоимость</th>
      <th>Менеджер проекта</th>
      <th>Статус заявки</th>
      <th>Офис менеджер</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of pageOfItems">
      <td>{{ request.requestId }}</td>
      <td>{{ request.date | date:'MM/dd/yyyy' }}</td>
      <td>{{ request.declarer }}</td>
      <td>{{ request.project }}</td>
      <td>{{ request.subproject }}</td>
      <td>{{ request.requestNumber }}</td>
      <td>{{ request.budget }}</td>
      <td>{{ request.cost }}</td>
      <td>{{ request.manager }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.officeManager }}</td>
      <td><button (click)="deleteRequest(request.requestId)">Del</button> <button (click)="goEdit(request.requestId)">Edit</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="date" [ngModel]="newRequest.date | date:'yyyy-MM-dd'" (ngModelChange)="newRequest.date = $event" name="startDate" required></td>
      <td><select [(ngModel)]="newRequest.declarerId" required> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.projectId" (ngModelChange)="onChange($event)" required> <option *ngFor="let prj of projects" [value]="prj.projectId">{{prj.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.subprojectId" required> <option *ngFor="let sprj of localSubprojects" [value]="sprj.subprojectId">{{sprj.name}}</option></select></td>
      <td><input type="text" [(ngModel)]="newRequest.requestNumber" required></td>
      <td><input type="number" [(ngModel)]="newRequest.budget" required></td>
      <td><input type="number" [(ngModel)]="newRequest.cost" required></td>
      <td><select [(ngModel)]="newRequest.managerId" required> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td><select [(ngModel)]="newRequest.status"><option *ngFor="let status of statuses" [value]="statuses.indexOf(status)">{{status}}</option></select></td>
      <td><select [(ngModel)]="newRequest.officeManagerId" required> <option *ngFor="let emp of employeesBase" [value]="emp.employeeBaseId">{{emp.name}}</option></select></td>
      <td>
        <button class="add" *ngIf="requests" type="submit" (click)='addRequest(newRequest)'>Add <i class='fas fa-plus'></i></button>
        <button class="edit" *ngIf="requests" type="submit" (click)='editRequest(newRequest.requestId, newRequest)' hidden>Submit</button>
      </td>
    </tr>
  </tbody>
</table>
<jw-pagination class="pagination" [items]="requestViewModels" [pageSize]="5" (changePage)="onChangePage($event)"></jw-pagination>


<mat-table [dataSource]="requestViewModels">

  <ng-container matColumnDef="requestId">
    <mat-header-cell *matHeaderCellDef> ID заявки </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.requestId}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Дата заявки </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.date | date:'MM/dd/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="declarer">
    <mat-header-cell *matHeaderCellDef> Заявитель </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.declarer}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> Проект </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.project}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="subproject">
    <mat-header-cell *matHeaderCellDef> Подпроект </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.subproject}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="requestNumber">
    <mat-header-cell *matHeaderCellDef> Номер заявки на командировку </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.requestNumber}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="budget">
    <mat-header-cell *matHeaderCellDef> Бюджет </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.budget}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cost">
    <mat-header-cell *matHeaderCellDef> Стоимость </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.cost}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="manager">
    <mat-header-cell *matHeaderCellDef> Менеджер проекта </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.manager}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Статус заявки </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="officeManager">
    <mat-header-cell *matHeaderCellDef> Офис менеджер </mat-header-cell>
    <mat-cell *matCellDef="let request"> {{request.officeManager}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

</mat-table>
